SELECT, INPUT[type="text"] {
    width: 300px;
    box-sizing: border-box;
}

#rightValues,#leftValues{
    height: 200px;
    box-sizing: border-box;
}

SECTION {
    overflow: auto;
}

SECTION > DIV {
    float: left;
    padding: 4px;
}
SECTION > DIV + DIV {
    width: 80px;
    text-align: center;
}
/*SECTION {*/
    /*position: relative;*/
    /*top: 10px;*/
    /*left: 20%;*/
/*}*/
#btnPrimary{
    position: relative;
    top: 10px;
    left: 50%;
}

#btnLeft{
    position: relative;
    top: 40px;

}
#btnRight{
    position: relative;
    top: 80px;

}
#csv_chart{
    position: relative;
    top: 25px;
    left: 5%;
}

#welldiv{
    position: relative;
    top: 10px;


}
